@keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideInFromTop {
  0% {
    transform: translateY(-100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes slideInFromRight {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.slideInFromLeft {
  animation: slideInFromLeft 0.5s ease-in-out;
}
.slideInFromTop {
  animation: slideInFromTop 0.5s ease-in-out;
}
.slideForIntroduce {
  animation: slideInFromRight 0.5s ease-in-out;
}
.slideInFromRight {
  animation: slideInFromRight 0.5s ease-in-out;
}
@media (min-width: 768px) {
    .slideForIntroduce {
        animation: slideInFromTop 0.5s ease-in-out;
    }
}

.dream-chain {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  .dream-chain__char {
    display: inline-block;
    margin-right: 6px;
    opacity: 0.3;
    transform: translateY(-100px);
    transition: transform .3s ease-in-out;
  }
}

