@keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideInFromTop {
  0% {
    transform: translateY(-100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes slideInFromRight {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.slideInFromLeft {
  animation: slideInFromLeft 0.5s ease-in-out;
}
.slideInFromTop {
  animation: slideInFromTop 0.5s ease-in-out;
}
.slideForIntroduce {
  animation: slideInFromRight 0.5s ease-in-out;
}
@media (min-width: 768px) {
    .slideForIntroduce {
        animation: slideInFromTop 0.5s ease-in-out;
    }
}