.divider {
  display: flex;
  align-items: center;
  text-align: center;
}

.divider::before,
.divider::after {
  content: '';
  flex: 1;
  border-bottom: 1px solid ;
}

.divider::before {
  margin-right: .5em;
}

.divider::after {
  margin-left: .5em;
}